{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}<div class="container mt-4">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/1756957/pexels-photo-1756957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="300" height="500"class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/2417466/pexels-photo-2417466.jpeg?auto=compress&cs=tinysrgb&w=800" width="300"  height="500" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/1500459/pexels-photo-1500459.jpeg?auto=compress&cs=tinysrgb&w=800" width="300" height="500" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    <div class="carousel-caption-bottom" >
        <h5>Suggested Offers</h5>
        <p>Explore the World with ease.</p>
      </div>

  </div>
</div>


<div class="container-2">
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
  
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/9716362/pexels-photo-9716362.jpeg?auto=compress&cs=tinysrgb&w=800" width="100" height="160" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">A1 Parkings Haridwar</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Locate</button>
                </div>
                <small class="text-body-secondary">4.5</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/279734/pexels-photo-279734.jpeg?auto=compress&cs=tinysrgb&w=800" width="100" height="160" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Ganga Parkings</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Locate</button>
                </div>
                <small class="text-body-secondary">4.3</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/257711/pexels-photo-257711.jpeg?auto=compress&cs=tinysrgb&w=800" width="100" height="160" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">B Parkings</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Locate</button>
                </div>
                <small class="text-body-secondary">4.6</small>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/1730754/pexels-photo-1730754.jpeg?auto=compress&cs=tinysrgb&w=800" width="100" height="160" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">B2 Parkings</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Locate</button>
                </div>
                <small class="text-body-secondary">4.1</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/933588/pexels-photo-933588.jpeg?auto=compress&cs=tinysrgb&w=800" width="100" height="160" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Haridwar Parkings</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Locate</button>
                </div>
                <small class="text-body-secondary">3.9</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/31555079/pexels-photo-31555079/free-photo-of-urban-underpass-parking-in-kamen-germany.jpeg?auto=compress&cs=tinysrgb&w=800" width="100" height="160" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Har Parkings</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Locate</button>
                </div>
                <small class="text-body-secondary">4.0</small>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/831475/pexels-photo-831475.jpeg?auto=compress&cs=tinysrgb&w=800" width="100" height="160" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Pentagon Mall Parking</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Locate</button>
                </div>
                <small class="text-body-secondary">4.2</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/250659/pexels-photo-250659.jpeg?auto=compress&cs=tinysrgb&w=800" width='100' height="160" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">A2 Parking</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Locate</button>
                </div>
                <small class="text-body-secondary">4.1</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/1280560/pexels-photo-1280560.jpeg?auto=compress&cs=tinysrgb&w=800" width="100" height="160" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Safe Parkings</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Locate</button>
                </div>
                <small class="text-body-secondary">3.7</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    .carousel-caption-bottom {
      margin-top: 20px; /* Add spacing before the caption */
      color: #333;
    }
  </style>
  

</div>{% endblock body %}
